<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="ql_thoi_trangConnectionString" connectionString="Data Source=LAPTOP-FDOO31K1;Initial Catalog=ql_thoi_trang;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ql_thoi_trangConnectionString2" connectionString="Data Source=LAPTOP-FDOO31K1;Initial Catalog=ql_thoi_trang;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ql_thoi_trangConnectionString3" connectionString="Data Source=LAPTOP-FDOO31K1;Initial Catalog=ql_thoi_trang;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
